// PRIMARY COLORS
$color-soft-red: hsl(7, 99%, 70%);
$color-soft-yellow: hsl(51, 100%, 49%);
$color-dark-desaturated-cyan: hsl(167, 40%, 24%);
$color-dark-blue: hsl(198, 62%, 26%);
$color-dark-moderate-cyan: hsl(168, 34%, 41%);

// NEUTRAL COLORS
$color-dark-desaturated-blue: hsl(212, 27%, 19%);
$color-dark-grayish-blue: hsl(213, 9%, 39%);
$color-grayish-blue: hsl(232, 10%, 55%);
$color-grayish-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);

$color-white-2 :hsl(26, 3, 100);

// FONT VARIABLES
$font-barlow: 'Barlow',
//600
sans-serif;
$font-fraunces: 'Fraunces',
sans-serif; //700,900

//Padding
$padding-small: 1.5rem;

// GENERAL
@mixin transition-basic {
    transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-larger: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 40%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 35%;
    }

}

body {
    font-family: $font-barlow;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    overflow-x: hidden;

}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh repeat(3, 1fr) 2fr 2fr 1fr;

}


/* ===============
   ROWS
   =============== */
main {
    grid-column: 1 / -1;
}

.row-2 {
    background-color: $color-white-2;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 60%;
        margin: 0 auto 10rem auto;
               
        
    }

    &__heading {
        font-size:5rem;
        font-family: $font-fraunces;
        color: $color-dark-desaturated-blue;
        font-weight: 900;
        margin-bottom: 2.2rem;
    }

    &__paragraph {
        font-size: 2.3rem;
        color: $color-dark-grayish-blue;
        margin-bottom: 4.2rem;
    }

    

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;

        
    }

    

}

.row-2__cta {
    color: $color-dark-desaturated-blue;
    font-family: $font-fraunces;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &::after {
        content: "";
        width: calc(100% + 10px);
        position: absolute;
        border: 2px solid $color-soft-yellow;
        background-color: $color-soft-yellow;
        top:15px;
        height: 8px;
        left: -5px;
        z-index: -1;
        opacity: 0.5;
        border-radius: 20px;

        
        
    }    
}

.row-2__cta:hover:after {
    opacity: 1;
}

// div > *:not(:last-child) {
//     display: block;
//     margin-bottom: 30px; 
// } 

.row-3 {
    background-color: $color-white-2;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__content {
        grid-column: 2 / 2;
        grid-row: 1 / 1;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 60%;
        margin: 0 auto 10rem auto;
    }

    &__heading {
        font-size:5rem;
        font-family: $font-fraunces;
        color: $color-dark-desaturated-blue;
        font-weight: 900;
        margin-bottom: 2.2rem;
    }

    &__paragraph {
        font-size: 2.3rem;
        color: $color-dark-grayish-blue;
        margin-bottom: 4.2rem;
    }

    

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;

        
    }

    
}

.row-3__cta {
    color: $color-dark-desaturated-blue;
    font-family: $font-fraunces;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &::after {
        content: "";
        width: calc(100% + 10px);
        position: absolute;
        border: 2px solid $color-soft-red;
        background-color: $color-soft-red;
        top:15px;
        height: 8px;
        left: -5px;
        z-index: -1;
        opacity: 0.5;
        border-radius: 20px;

        
        
    }    
}










.row-4 {
    background-color: $color-dark-moderate-cyan;
}




/* ===============
   TESTIMONIALS 
   =============== */
.testimonials {
    background-color: orangered;
}



/* ===============
  GALLERY 
   =============== */
.gallery {
    background-color: yellowgreen;
}


/* ===============
   FOOTER 
   =============== */
.footer {
    background-color: skyblue;
    grid-column: 1 / -1;
    grid-row: 7 / -1;
}