// PRIMARY COLORS
$color-soft-red: hsl(7, 99%, 70%);
$color-soft-yellow: hsl(51, 100%, 49%);
$color-dark-desaturated-cyan: hsl(167, 40%, 24%);
$color-dark-blue: hsl(198, 62%, 26%);
$color-dark-moderate-cyan: hsl(168, 34%, 41%);

// NEUTRAL COLORS
$color-dark-desaturated-blue: hsl(212, 27%, 19%);
$color-dark-grayish-blue: hsl(213, 9%, 39%);
$color-grayish-blue: hsl(232, 10%, 55%);
$color-grayish-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);

$color-white-2 :hsl(26, 3, 100);

// FONT VARIABLES
$font-barlow: 'Barlow',
//600
sans-serif;
$font-fraunces: 'Fraunces',
sans-serif; //700,900

//Padding
$padding-small: 1.5rem;

// GENERAL
@mixin transition-basic {
    transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-larger: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;


    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 40%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 35%;
    }

}

body {
    font-family: $font-barlow;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    overflow-x: hidden;
    // min-height: 100%;

}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh 1fr 75vh repeat(2, min-content);

}


/* ===============
   ROWS
   =============== */
main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}







/* ===============
   TESTIMONIALS 
   =============== */
.testimonials {
    // background-color: orangered;
    grid-row: 3/ 4;
    grid-column: 1 / -1;
    
    &__heading {
    text-align: center;  
    font-family: $font-fraunces; 
    text-transform: uppercase;
    font-size: 2.5rem;
    color: $color-grayish-blue;
    letter-spacing: 0.176em;
    font-weight: 800;
    margin-top: 10rem;
    margin-bottom: 5rem;
    }

    &__container {
        // border: 2px solid black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 10px;
        margin: 1rem auto 1rem auto;
        width:85%;
        height: 40vh;
    }

    &__left,
    &__center,
    &__right
    {
        display: flex;
        flex-direction: column;
        color:Red;
        // border: 1px solid red;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        justify-content: space-between;
        align-items: center;
        padding: 5rem;

        
        
        
    }

    &__center {
        color: blue;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        
    }

    &__right {
        color: green;
        grid-column: 3 / 3;
        grid-row: 1 / 1;
        
    }

    &__profile-image {
        border-radius: 50%;
        width: 8rem;
        height: auto;
    }

    &__message {
        color: $color-dark-grayish-blue;
        text-align: center;
    }

    &__name {
        color: $color-dark-desaturated-blue;
        font-family: $font-fraunces;
        font-weight:900;
    }

    &__job {
        color: $color-grayish-blue;    
    }

    &__name-job-container {
        text-align: center;
    }
    

    

}





/* ===============
  GALLERY 
   =============== */
.gallery {
    background-color: yellowgreen;
    grid-column: 1 / -1;
    grid-row: 4/ 5;

}


/* ===============
   FOOTER 
   =============== */
.footer {
    background-color: skyblue;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
}